// ==========================================================================
// Extends
// ==========================================================================

// Nav Items


// Headlines


// Buttons

%btn {
  padding: 15px 30px;
  border: 0;
  border-radius : $br--default;
  color: $white;
  text-transform: uppercase;
  font-size : em(16px);
  font-weight: $font-weight--heavy;
  transition: opacity $trns-duration;
  margin-bottom: em(25px);
  &:hover {
    opacity: .75;
  }
  &:active {
    opacity: initial;
  }
}

%nav {
  color: $grey;
  text-align: center;
  list-style-type: none;
  padding: 20px 0;
  a {
    border-radius : $br--default;
    padding: 25px 30px;
    color: $grey;
    text-decoration: none;
    font-size : em(18px);
    font-weight: $font-weight--medium;
    transition: opacity $trns-duration;
    margin-bottom: em(25px);
    &:hover {
      background: $color-primary;
      color: white;
    }
    &:active {
      background-color: $color-primary;
      color: white;
    }
  }
}

// Screen reader text

.srt {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// Menu link


// Icons


// Center elements

%center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
