.form {
  @include e(label) {
    @include m(hidden) {
      @extend .srt;
    }
    display: block;
    margin-bottom: em(10px);
  }

  @include e(input) {
    width: 90%;
    font-size: em(18px);
    font-weight: $font-weight--heavy;
    padding: em(15px, 18px);
    margin-bottom: em(20px, 18px);
    border: none;
    border-bottom: 6px solid $color-primary;

    &:focus {
      outline: none;
    }
  }
}

.form__label--hidden {

}

.form__input {

}
