.grid__row {
  padding-top: em(12px);
  padding-bottom: em(12px);
  @include mq(medium) {
  @include flex($just: center) {}
    &:first-of-type {
      width: 90%;
      margin: 0 auto;
    }
  }
}

.grid__col {
    @include f-columns;
}

[class^="grid__col--"] {
  width: 100%;
  padding: 15px 10px;
  border-radius: $br--default;
  font-weight: $font-weight--heavy;
  color: $grey;
	@include mq(small)  {
		margin-top: em(12px);
		margin-bottom: em(12px);
	}
	@include mq(medium) {
		@include doubly(percentage($f-gutter-width / $context));
		float: left;
		min-height: 1px;
		padding-left: 10px;
		padding-right: 10px;
		&:last-of-type {
			float: right;
		}
  }
}

.grid__col--4 {
  flex-basis: 33%;
}

.grid__col--5 {
  flex-basis: 50%;
}

.grid__col--7 {
  flex-basis: 70%;
}

.grid__col--8 {
  flex-basis: 66%;
}

.grid__col--12 {
  width: 100%;
  @include flex ($dir: column) {}
  @extend %center-alt;
  @include mq(medium) {
    @include flex ($dir: row, $just: space-between) {};
  }
}

.centered {
@extend %center;
}
